@model MvcApplication.Models.Address
<h2>Address</h2>
<div class="control-group">
    <label class="control-label">@Html.DisplayNameFor(x => x.City)</label>
    <div class="controls">
        @Html.EditorFor(x => x.City)
        @Html.ValidationMessageFor(x => x.City, String.Empty, new { @class = "help-block" })
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Html.DisplayNameFor(x => x.State)</label>
    <div class="controls">
        @Html.DropDownListFor(x => x.State, Model.StateDropDown)
        @Html.ValidationMessageFor(x => x.State, String.Empty, new { @class = "help-block" })
    </div>
</div>
<div class="control-group">
    <label class="control-label">@Html.DisplayNameFor(x => x.Zip)</label>
    <div class="controls">
        @Html.EditorFor(x => x.Zip)
        @Html.ValidationMessageFor(x => x.Zip, String.Empty, new { @class = "help-block" })
    </div>
</div>